

/* MAIN CONTAINER */
.cte-container {
  width: 99vw;
  min-height: 100vh;
  margin-top: 110px;
  background-color: rgb(205, 230, 155);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.cte-card {
  width: 50%;
  background: white;
  border-radius: 8px;
    margin: 10px;

  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* FIELD WRAPPER */
.cte-field {
  margin-bottom: 15px;
}

/* INPUT */
.cte-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc ;
  border-radius: 6px;
}

/* .cte-field .cte-input:focus {
   border-color: #27135f !important;
  box-shadow: none !important;
} */
/* .cte-input:focus {
  border: 1px solid #225f13 !important;
  box-shadow: none !important;
} */
/* .cte-field .cte-input:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
} */
/* IMAGE ROW */
.cte-image-row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

/* DELETE BUTTON */
.cte-del-btn {
  margin-left: 10px;
  margin-top: 20px;
}

/* ADD BUTTON */
.cte-add-btn {
  margin-bottom: 20px;
}

/* SUBMIT */
.cte-submit {
  margin-top: 10px;
}



.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0,0,0,0.4); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirm-box {
  background: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
}
@media (max-width: 768px) {
.cte-card {
  margin: 10px;
  width: 90%;
  }
}