.change-container {
  display: flex;
  justify-content: center;
  align-items: center;
      width: 99vw;
  min-height: 100vh;
  background: linear-gradient(to right,  hsl(234, 83%, 65%),  hsl(234, 83%, 65%));
  padding: 20px;
  margin-top: 90px;
}

/* Form Box */
.change-form {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.change-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Input Group */
.input-group {
  position: relative;
  margin-bottom: 15px;
      direction: rtl;
  text-align: right;
}

/* Inputs */
.input-group input {
  width: 100%;
  padding: 12px 10px 12px 12px; /* space for toggle icon */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;

}
.input-group label{
padding-bottom: 10px;
}
.input-group input::placeholder {
    /* text-align: right; */
    padding-left: 0px;

}

.input-group input:focus {
  border-color:  hsl(234, 83%, 65%);
}

/* Toggle Icon */
.toggle-icon {
  position: absolute;
  left: 32px;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

.toggle-icon:hover {
  color:  hsl(234, 83%, 65%);
}

/* Button */
.change-form button {
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 12px;
  background:  hsl(234, 83%, 65%);
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.change-form button:hover {
  background:  hsl(234, 55%, 51%);
}

/* Link */
.change-form .link {
  text-align: center;
  margin-top: 10px;
}

.change-form .link a {
  color:  hsl(234, 83%, 65%);
  text-decoration: none;
}

.change-form .link a:hover {
  text-decoration: underline;
}



/* Message */
.msg {
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
}

/* 📱 Responsive */
@media (max-width: 500px) {
  .change-form {
    padding: 20px;
  }

  .input-group input,
  .change-form button {
    font-size: 14px;
  }
}
