.sect1eventmore {
  /* font-family: "Montserrat", sans-serif; */
  /* width: 1200px; */
  /* height: 450px; */
  /* display: flex; */
  /* margin: 140px 0px 0px 0px; */
  margin: 90px auto;
  /* box-shadow: 3px 2px 5px rgb(172, 163, 163); */
}


.images-eventmore-sec1-sch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  /* flex: "1" */

}




.img1-eventmoresch-sec1-sch {
  /* width: 500px; */
  height: 250px;

  /* margin: 0px 0px 0px 0px; */

}


.title-sec1-eventmore {
  /* width: 100px; */
  text-align: center;
  font-size: 58px;
  font-weight: 500;
  /* margin-bottom: 120px; */
  padding: 20px 20px 50px 0px;
  color: #a9ce64;
  /* background-color: rgb(55, 168, 11); */
  /* margin-bottom: 10px; */
}

.text-sec1-eventmore {
  width: 85%;
  line-height: 1.8;
  text-align: right;
  font-size: 22px;
  /* font-weight: 500; */
  margin-left: 90px;
  /* margin: 50px 190px; */
  color: black;
  /* margin-bottom: 10px; */
}

@media only screen and (max-width: 900px) {
  .images-eventmore-sec1-sch {
    flex-direction: column;
  }

  .img1-eventmoresch-sec1-sch {
    width: 100%;

    /* margin: 0px 0px 0px 0px; */

  }

  .text-sec1-eventmore {
    /* width: 85%; */
    /* text-align: center; */
    margin-left: 20px;

  }

}