



.btn-services{
  display: flex;
  justify-content: flex-end; /* center | flex-start if you want */
  margin-bottom: 20px;
}

.btn-service {

  background-color: #4CAF50;
  color: white;
    /* float: right;        */

  padding: 5px 12px;
  /* margin-bottom: 35px ; */
  /* margin-right:190px ; */
  margin-left: 320px;
  font-size: 1rem;
    transition: background 0.2s;

}



.admin-page-wrapper .page-two-container {
  /* width: 100%; */
    /* max-width: 990px; */
      /* border: 2px solid red; */

      max-width: 1690px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  overflow: hidden;
}

.admin-page-wrapper .text-headerass {

  text-align: center;
  margin-top: 0px;
  direction: rtl;
}

.admin-page-wrapper .h1-blueass {
  color: #0044ff;
  font-size: 2.5rem;
  margin-top: 60px;
  margin-bottom: 30px;
}

.admin-page-wrapper .p-blackass {
  color: #000;
  /* max-width: 990px; */
  line-height: 1.6;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 70px;
}

.admin-page-wrapper .cards-wrapperview {
  display: flex;
  /* flex-wrap: wrap; */
    flex-wrap: nowrap;

  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  direction: rtl;
}

.admin-page-wrapper .service-card-v2 {
  width: 300px;
  height: 300px;
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
}

.admin-page-wrapper .img-ass {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}

.admin-page-wrapper .card-h2 {
  color: #0044ff;
  font-size: 1.2rem;
  text-align: center;
}

.admin-page-wrapper .card-p {
  color: #000;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5;
}

@media (max-width: 850px) {
  .admin-page-wrapper .page-two-container {
    height: auto;
    padding: 80px 20px;
  }
  .admin-page-wrapper .cards-wrapperview {
    flex-direction: column;
    align-items: center;
  }
  .admin-page-wrapper .service-card-v2 {
    /* width: 90%; */
  }
}
