* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQF8UhOkTG9alEkYKkzPfnlHawXQRXK15XUQ&s.jpg") no-repeat center center/cover; */
    /* background: url(../../public/logo192.png)no-repeat center center/cover; */
    /* background: url(../logo.svg)no-repeat center center/cover; */

    /* width: 10px; */
    /* height: 100px; */
    /* font-size: 4px; */
    position: relative;
    font-family: "josefin sans";
    font-size: 50px;
    font-weight: bold;

    a {
        text-decoration: none;
    }

}

/* .baderschool{
  
  font-size: 25px;
  font-weight:700;

  padding:20px 20px 20px 0px;
  color: #5b59e9;
  
} */
.bader-link {
    text-decoration: none;
    color: inherit;
}

body::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    /* background: red; */

    z-index: -1;

}

/* a{
    text-decoration: none;
} */

header {
    /* max-width: 1440px; */
    /* height: 100vw; */
    width: 100%;
  background: linear-gradient(to right, #aacaf3, #3645ce);
    /* background-color: #6ad15d; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    padding: 0.5rem 0;
    padding-top: 0.5rem;
    /* your desired spacing */
    margin: 0;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /* make sure it stays above content */
}

.img1-Navb-sch {
    width: 90px;
    height: 90px;
    border-radius: 50%;

}

.container {
    width: 100%;
    /* background-color: #6ad15d; */
    /* height: 110px; */
    margin: 0 auto;
    padding: 0 1rem;
}

.container nav {
    display: flex;
    /* gap: 600px; */
    justify-content: space-between;
    align-items: center;
}

.container nav .logo {
    /* font-size: 35px;
    font-weight: 700; */

    /* padding: 20px 20px 20px 0px; */
    background-color: #2418c4;
    border-radius: 50%;

    /* color: #212a3c; */
    /* font-size: 1.2rem; */
    /* cursor: pointer; */
}

.container .nav-link {
    display: flex;
    /* position: absolute; */
    z-index: 10;
    margin: 0;
    /* remove unwanted margin */
    padding: 0;
    /* remove default ul padding */
    list-style: none;
    /* remove bullets */

}

.container .nav-link li {
    list-style: none;
    margin: 0 0.5rem;

}

.container ul li a {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.7rem 1rem;
    display: block;
    border-radius: 10px;
    border-radius: 4px;
    text-align: right;

}

.container ul li NavLink:hover,
.container ul li NavLink.active {
    /* background-color: #cedada; */
    /* background-color: #ecf0f1; */
    color: #a9ce64;
}

.container ul li a.active-link {
    color: hsl(234, 83%, 65%);
    font-weight: bold;
}

.container-image {
    /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQX1fYSfhq_jTMMJVCzFayf_HSyKBMLVAPMrg&s.jpg)no-repeat center center/cover; */
    background: url(https://stateline.org/wp-content/uploads/2023/09/school-start-times.jpg)no-repeat center center/cover;
    /* width: 100%;
    height: 100%; */
    /* width: 1550px; */
    height: 550px;
}

.content {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.content h2 {
    font-size: 6rem;
    color: #fff;
}

.icon {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

@media(max-width:768px) {

    header {
        /* max-width: 1440px;
        height: 100vh; */
        margin-bottom: 40px;
    }

    .content h2 {
        font-size: 4rem;
        text-align: center;
    }

    .icon {
        display: block;

    }

    .container .nav-link {
        margin-top: 120px;

        flex-direction: column;
        justify-content: space-evenly;
        background-color: #fff;
        position: absolute;
        width: 350px;
        height: 60vh;
        top: -800px;
        right: 0;
        /* z-index: 1000; */
        transition: all 0.7s;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    }

    .container ul li a.active-link {
        color: black;
        font-weight: bold;
    }

    .nav-link.active {
        top: 1%;
        transition: all 0.7s ease-in;
        background-color: hsl(235, 53%, 72%);

    }

    .container-image {
        /* width: 100%; */
        /* height: 100%; */
        width: 350px;
        /* height: 550px; */
    }

}